<% content_for :admin_content do %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4 class="text-uppercase">Update <%= @user.email %> </h4>
  <hr/>
 <section class="panel panel-body">
 <div class="form-group">
   <%= f.text_field :role, class:"form-control", placeholder:"Roles" %>
   <label> <small class="text-uppercase"><i>
   Format is: {"role1","role2"}.</i><small></label>  
 </div>
 </section>
 <section class="panel panel-footer">
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary btn-lg" %>
  </div>
 </section>
<% end %>

<% end %>
