<!DOCTYPE html>
<html ng-app="pakg_app">
  <head>
    <title>Angelfire Courier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<body class="container">
 <header style="margin-bottom: 20px; padding-bottom: 20px;">
  <section ng-controller="NavRorCtrl" class="pull-right">
<nav class="navbar navbar-toggleable-lg navbar-light bg-faded">

    <div class="btn-group btn-group-lg" role="group" aria-label="menu">
      <button type="button" class="btn btn-default" href="/settings">
        Express
      </button>
       <button type="button" class="btn btn-default" ui-sref="shipments">
        Parcel & eCommerce
      </button>
     <button type="button" class="btn btn-default" ui-sref="shipments.list">
        Logistics
      </button>
       <% if user_signed_in? %>
        <% else %>  
       <button type="button" class="btn btn-default" ui-sref="customers">
        About Us
      </button>
      <button type="button" class="btn btn-default" ng-hide="signedIn()" ui-sref="register">Register Form
      </button>
      <button type="button" class="btn btn-default" ng-show="signedIn()" ui-sref="/">{{ user.email }}
      </button>
     <% end %>
      <button type="button" class="btn btn-default" ng-show="signedIn()" ng-click="logout()">Log Out
      </button>
  </div>
</nav>
</section>
</header>

<% if notice.present? %>
      <aside class="alert alert-info">
       <%= notice %>
      </aside>
  <% end %>
  <% if alert.present? %>
     <aside class="alert alert-danger">
       <%= alert %>
    </aside>
   <% end %>

    <%= yield %>

<footer>&copy Angelfie </footer>

  </body>
</html>

